<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <% for(var i=0;i<todoes.length;i++){ %>
    <p> <%= todoes[i] %></p>
    <% } %>

    <form method="POST">
        <input type="text" placeholder="enter todo" name="content">
        <button type="submit">add</button>
    </form>


</body>

</html>